@use 'assets/styles/variables' as *;

.skeleton {
  background: linear-gradient(
    90deg,
    $color-gray-200 0%,
    $color-gray-100 50%,
    $color-gray-200 100%
  );
  background-size: 200% 100%;
  animation: loading 1.5s ease-in-out infinite;
}

.skeleton-text {
  border-radius: $border-radius-sm;
  height: 1em;
}

.skeleton-circle {
  border-radius: $border-radius-full;
}

.skeleton-rect {
  border-radius: $border-radius-base;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
