@use 'assets/styles/variables' as *;

.main-layout {
  display: flex;
  height: 100vh;
  background-color: $color-gray-50;
}

.layout-sidebar {
  flex-shrink: 0;
}

.layout-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.layout-header {
  flex-shrink: 0;
}

.layout-main {
  flex: 1;
  overflow-y: auto;
  padding: $layout-padding;
}
